<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Классификатор изделий</title>
    <link rel="stylesheet" th:href="@{/technology/css/technology.css}">
    <link rel="stylesheet" th:href="@{/technology/css/common.css}">
    <link rel="stylesheet" th:href="@{/technology/css/classifier.css}">
</head>
<body>
<div class="app-shell">
    <aside th:replace="~{technology/fragments/layout :: sidebar('classifier')}"></aside>
    <main class="main">
        <header th:replace="~{technology/fragments/layout :: topbar}"></header>
        <div class="page-content classifier-page">
            <div class="page-head">
                <div>
                    <h1>Добавление классификатора</h1>
                </div>

                <nav
                        class="classifier-action-menu"
                        aria-label="Операции с классификатором">

                    <a
                            class="btn primary"
                            th:href="@{/technology/classifier/create}">
                        Добавить классификатор
                    </a>

                    <a
                            class="btn secondary"
                            th:href="@{/technology/classifier/update}">
                        Изменить классификатор
                    </a>

                    <a
                            class="btn danger"
                            th:href="@{/technology/classifier/delete}">
                        Удалить классификатор
                    </a>
                </nav>
            </div>

            <div class="alert alert-success" th:if="${successMessage != null}" th:text="${successMessage}">Операция выполнена.</div>
            <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}">Ошибка операции.</div>
            <form th:action="@{/technology/classifier/create}"
                  th:object="${classifierForm}"
                  method="post">

                <div th:replace="~{
        technology/fragments/classifier-fields
        :: fields
    }"></div>

                <button type="submit" class="btn btn-primary">
                    Добавить
                </button>

                <a class="btn btn-secondary"
                   th:href="@{/technology/classifier}">
                    Отмена
                </a>
            </form>


        </div>
    </main>
</div>
<th:block th:replace="~{technology/fragments/layout :: commonScripts}"></th:block>
<script th:src="@{/technology/js/classifier.js}"></script>
</body>
</html>
