<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>Создание рабочего места</title>

    <link rel="stylesheet"
          th:href="@{/technology/css/technology.css}">

    <link rel="stylesheet"
          th:href="@{/technology/css/common.css}">

    <link rel="stylesheet"
          th:href="@{/technology/css/operation.css}">
</head>

<body>

<div class="app-shell">

    <aside th:replace="~{technology/fragments/layout
            :: sidebar('workplace')}">
    </aside>

    <main class="main">

        <header th:replace="~{technology/fragments/layout
                :: topbar}">
        </header>

        <div class="page-content operation-page">

            <div class="page-head operation-create-head">

                <div class="page-title">
                    <h1>Создание рабочего места</h1>

                    <p>
                        Заполните параметры нового рабочего места
                    </p>
                </div>

                <a class="btn secondary"
                   th:href="@{/technology/workplace}">
                    Вернуться к рабочим местам
                </a>

            </div>

            <section class="card operation-editor-card">

                <div class="card-head operation-editor-head">

                    <div>
                        <h2>Новое рабочее место</h2>

                        <small>
                            Поля со знаком
                            <span class="required">*</span>
                            обязательны для заполнения
                        </small>
                    </div>

                </div>

                <div class="card-body operation-editor-body"
                     th:insert="~{
                        technology/workplace/fragments/workplace-form
                        :: form(
                            @{/technology/workplace/create},
                            'Создать рабочее место'
                        )
                     }">
                </div>

            </section>

        </div>
    </main>
</div>

<th:block th:replace="~{technology/fragments/layout
        :: commonScripts}">
</th:block>
<script th:src="@{/technology/js/operation.js}"></script>
</body>
</html>
